---
- kind: Deployment
  apiVersion: apps/v1
  metadata:
    name: kafka-connect
    app: kafka-connect
  spec:
    strategy:
      type: Recreate
    triggers:
    - type: ConfigChange
    replicas: 1
    selector:
      matchLabels:
        name: kafka-connect
    template:
      metadata:
        labels:
          template: kafka-connect
          name: kafka-connect
          app: kafka
      spec:
        containers:
        - name: connector-restart
          image: {IMAGE_URL}
          env:
          - name: KAFKA_CONNECT_HOST
            value: localhost
          - name: KAFKA_CONNECT_PORT
            value: "8083"
          - name: KAFKA_CONNECT_PROTO
            value: 'http'
          - name: KAFKA_CONNECT_USER
            value: ''
          - name: KAFKA_CONNECT_PASS
            value: ''
          - name: REQUEST_DELAY
            value: "30"
          - name: SIDECAR_MODE
            value: "true"          
          resources:
            limits:
              cpu: '10m'
              memory: '10Mi'
            requests:
              cpu: '50m'
              memory: '50Mi'
        - name: kafka-connect
          image: debezium/connect:1.4
          ports:
          - containerPort: 8080
            protocol: TCP
          - containerPort: 8443
            protocol: TCP
          - containerPort: 7600
            protocol: TCP
          - containerPort: 57600
            protocol: TCP
          resources:
            limits:
              cpu: 500m
              memory: 1500Mi
            requests:
              cpu: 500m
              memory: 1500Mi
          env:
          - name: REST_HOST_NAME
            value: localhost
          ...
          ...
          ...
        restartPolicy: Always
        dnsPolicy: ClusterFirst
        affinity:
          podAntiAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - kafka-connect
              namespaces:
                - NAMESPACE
              topologyKey: kubernetes.io/hostname
        enableServiceLinks: false